.application-container {
  background-color: rgba(#0000CC, .3);
  position: absolute;
  top: 0;
  bottom: 50px; // dock-bar
  right: 0;
  left: 0;

  &__header {
    padding: 10px;

    display: flex;
    justify-content: space-between;
  }

  &__main {
    padding: 50px;
  }
}
