/.idea
/.vscode
/.git
/.husky
/node_modules
/dist
/coverage
/.angular/cache

Dockerfile
README.md
TODO.md
.gitignore
makefile
LICENSE

# Yarn
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
