@import 'variables';

.application-container {
  background-color: #272727;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 50px); //dock-bar
  color: white;

  &__header {
    padding-left: 10px;
    background-color: #202020;
    height: 45px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__main {
    padding: 15px;
  }

  &__close {
    cursor: pointer;
    height: 100%;
    color: white;
    padding: 0 15px;
    transition: background-color 300ms;

    &:hover, &:focus {
      background-color: $Error;
    }
  }
}
