@import '../../sass/variables';

.application-container {
  background-color: $Black2;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 50px); //dock-bar
  color: $White;

  &__header {
    padding-left: 10px;
    background-color: $Black;
    height: 45px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__close {
    cursor: pointer;
    height: 100%;
    color: $White;
    padding: 0 15px;
    transition: background-color 300ms;

    &:hover, &:focus {
      background-color: $Error;
    }
  }
}
